[package]
authors = ["Leo K"]
name = "rust_os"
version = "0.1.0"

[lib]
crate-type = ["staticlib"]

[dependencies]
rlibc = "0.1.4"
spin = "0.3.4"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies.multiboot2]
git = "https://github.com/phil-opp/multiboot2-elf64"
